@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

/* main styling*/
html,
body {
	font-family: sans-serrif;
}

a {
	color: #333;
	text-decoration: none;
	
}

h1, h2, h3 {
	padding-bottom: 20px;
}

p {
	margin: 10px 0;
}
#navbar {
	background-color: #333;
	color: #fff;
	overflow: auto;
	
}
#navbar a {
	color: #fff;
}

#navbar h1 {
	float: left;
	padding-top: 20px;
}

#navbar ul {
	float: right;
	list-style: none;
}

#navbar ul li {
	float: left;
}

#navbar ul li a {
	display: inline-block;
	padding: 25px;
}

#navbar ul li a:hover,
#navbar ul li a.current {
	background-color: #444;
	color: #3476E8;
}

.container {
	max-width: 1100px;
	margin: auto;
}

.text-primary {
	color: #f7c08a;
}

.lead {
	font-size: 20px;
}

.btn {
	display: inline-block;
	font-size: 18px;
	color: #fff;
	background-color: #333;
	padding: 13px 20px;
	border: none;
	cursor: pointer;
}

.btn:hover {
	background-color: #f7c08a;
	color: #333;
}

.btn-light {
	background-color: #f4f4f4;
	color: #333;
}

.btn-dark {
	background-color: #333;
	color: #fff;
}

.bg-dark {
	background-color: #1C0D35;
	color: #fff;
}

.bg-light {
	background-color: #f4f4f4;
	color: #333;
}

.bg-primary {
	background-color: #f7c08a;
	color: #333;
}

.clr {
	clear: both;
}

/* Showcase section*/
#showcase {
	background-image: url("../img/pexels-photo-775219.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 600px;
}

#showcase .showcase-content {
	text-align: center;
	color: #fff;
	padding-top: 170px;
}

#showcase h1 {
	font-size: 60px;
}

#showcase p {
	padding-bottom: 20px;
	font-size: 20px;
}

#home-info {
	height: 400px;
}

#home-info .info-img {
	float: left;
	width: 50%;
	height: 100%;
	background-image: url("../img/pexels-photo-70441.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#home-info .info-content {
	float: left;
	width: 50%;
	height: 100%;
	text-align: center;
	padding: 50px 30px;
}

.box {
	width: 33.3%;
	float: left;
	padding: 50px;
	text-align: center;
}

#main-footer{
	text-align: center;
	background-color: #444;
	color: #fff;
	padding: 20px;
}


